/* Landing Page */

.title-brand,
.presentation-title {
  /* color: red; */
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1rem;
  font-size: 1.5rem;
}

.product-list .container .product {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

@media (max-width: 770px) {
  .title-brand,
  .presentation-title {
    font-size: 97%;
  }

  .product-list .container .product {
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }

  .product-list .container .product > .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
