/* Landing Page */

.title-brand,
.presentation-title {
  /* color: red; */
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1rem;
  font-size: 1.5rem;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
