/* Landing Page */

.title-brand,
.presentation-title {
  /* color: red; */
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1rem;
  font-size: 1.5rem;
}

/* sub */
.sub {
  /* border: 1px solid red; */
  padding: 40px;
}

.sub .row .cooking .ingredients {
  margin: 20px;
}
.sub .row .cooking {
  /* border: 1px solid blue; */
  /* margin-right: 20px; */
}

.sub .row .ingredients {
  /* border: 1px solid green; */
}

.sub .row .ingredients .ingredients-image {
  width: 90%;
  height: 400px;
  margin-bottom: 20px;
}

.sub .row .ingredients .ingredients-image .ingredients-img {
  width: 100%;
  height: 100%;
}

/* end of sub */

/* Product List */

.product-list .container .product {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

/* End of Product List */

@media (max-width: 1200px) {
  .sub {
    /* display: grid; */
    /* grid-template-columns: 90%; */
  }

  .sub .sub-box .cooking-videos {
    /* display: flex; */
  }
}

@media (max-width: 770px) {
  .title-brand,
  .presentation-title {
    font-size: 97%;
  }

  .product-list .container .product {
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }

  .product-list .container .product > .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sub {
    /* grid-template-columns: 1fr; */
    /* padding: 100px 0; */
    /* height: 80vh; */
  }
  .sub .sub-box {
    /* width: 90%; */
    /* height: 300px; */
  }
}
